@import "tailwindcss";

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('/background.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #1a1a2e;
}
